#help {
	border-radius: 5px;
}

.help-header {
	border-radius: 5px;
	background: #F5F5EF;
	padding: 4px;
	margin:4px;
	padding-left:15px;
}

.help-inf {
	background: #FFFFFF;
	border-radius: 5px;
	width: 100%;
    height: auto;
	padding: 0px;
	padding-left:15px;
	padding-right:15px;
}
