#help {
	border-radius: 5px;
}

.help-header {
	border-radius: 5px;
	background: #F5F5EF;
	padding: 4px;
	margin:4px;
	padding-left:15px;
	padding-top:10px;
}

.help-inf {
	background: #FFFFFF;
	border-radius: 5px;
	width: 100%;
    height: auto;
	padding: 10px;
	padding-left:20px;
	padding-right:20px;
}


.panel-body{
	padding: 5px
	
}

.spacer {
	padding: 0px;
	margin-bottom: 5px;
}
.proposal_text{
	text-align:justify;
}
