<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div id="container-in">
		
		<section>
						
	<div class="col-left">

	<h1>Усиление ответственности за преступления, совершенные группой лиц</h1>

	<div class="addr">Инициатива № 78Ф11529</div>

	<div class="jurisdiction">Уровень инициативы: Федеральный</div>
	<div class="date-share">
		<div class="date">31 марта 2014 в 11:32</div>
	</div>

	<div class="voting-solution">
		<div class="addr title">За инициативу подано: <span><b>8</b> голосов</span></div>
	</div>
	<div class="voting-solution">
		<div class="addr negative">Против инициативы подано: <span><b>1</b> голос</span>
		</div>
	</div>

	<br>

	<div class="block petition-text-block">

					<ul class="item-icon">
		</ul>		
		<div class="paragraph-transform">
			В последнее время слишком часто стали происходить нападения экстремистских и хулиганствующих групп на обычных граждан. Эти нападения могут происходить и на почве национальной нетерпимости нападавших, и из хулиганских побуждений, и с банальной целью грабежа. А опасность подобные нападения представляют не меньшую, чем акты терроризма. Поскольку, как и акты террора, они во-первых сеют страх и недоверие, а во-вторых, могут привести к сравнимому и даже большему числу жертв, если ситуация выйдет из под контроля правоохранительных органов.<br />
<br />
Особенную опасность представляет участие в этих действиях несовершеннолетних. Поскольку из-за своего возраста у них хорошие шансы уйти от ответственности. При этом у них сформируется чувство собственной безнаказанности, что в будущем сделает их только более опасными для общества.<br />
<br />
Фактически в предлагаемой инициативе речь идет не столько о наказании виновных, сколько о необходимой защите законопослушных граждан. Для этого предлагается усилить наказания за подобные правонарушения.		</div>

		
		<br>

		<h2>Практический результат</h2>

		<div class="paragraph-transform">
			Предлагаемые меры помогут охладить те горячие головы, которые еще могут хоть как-то отдавать себе отчет в своих действиях. И помогут защитит общество от неадекватных агрессивных личностей, ограничив их свободу.		</div>

		
		
		
	</div>


	<h2>Вариант решения</h2>

	
		<div class="decision-item">
			<div id="anchor-decision-12960" class="block">
				<h4></h4>

				<div class="paragraph-transform">Предлагается внести в уголовный кодекс поправки, относящиеся к преступлениям, совершенным группой лиц (3 и более участников) с применением физического насилия. А именно:<br />
<br />
- Если в результате противоправных действий нападавших потерпевшему причинен ущерб здоровью средней тяжести или выше (в том числе совершено убийство или изнасилование), то каждый член группы несет одинаковую ответственность за действия всей группы, определяемую согласно действующему Уголовному Кодексу в соответствии с причиненным ущербом. Исключение может быть сделано только для членов группы, добровольно явившихся в полицию и способствующих следствию. Организатор нападения, даже если не участвовал в нем лично, несет одинаковую ответственность с нападавшими.<br />
<br />
- Наказание в вышеперечисленных случаях не может быть условным. Лица, совершившие подобные деяния не могут быть амнистированы или освобождены досрочно.</div>
							</div>

			<div class="voting-block voting-solution">
				<div
					data-petition-id="11529"
					data-decision-id="12960"
					data-url="https://www.roi.ru/ajax/vote_refresh/"
					class="vote-status-info">
											
<div class="" id="voting-status">


		<div class="alert alert-warning">Для голосования вы должны быть <a href="/cms/extentions/simplesaml/www/module.php/core/authenticate.php?as=100000za-sp&back=1">авторизованы через ЕСИА</a></div>

	<p>Для рассмотрения варианта решения на <b>федеральном уровне</b> осталось <b>99 991</b> голос</p>
	<div class="status">
		<div>
			<div style="width:0.009%;" class="votes"></div>
			<div class="number"><div>9</div></div>
		</div>
	</div>

	<p class="negative stat">Против решения: <span>1 голос</span></p>

</div>									</div>
			</div>
		</div>
	
	

<p>&larr; <a href="https://www.roi.ru/poll/">К началу списка инициатив</a></p></div>


		</section>
	</div>

</div>


</body>
</html>