<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Общественная инициатива</title>
<!-- Bootstrap -->
<link type="text/css" rel="stylesheet"
	href="../resources/css/bootstrap.min.css" >
</head>
<body>

<div class="container">
	<div class="row page-header">
		<div class="pull-left">
			<h1>Общественная инициатива</h1>
		</div>
	</div> 
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/voteme/">Главная</a></li>
					<li  class="active"><a href="/voteme/admin/">
								Пользователи</a></li>
					<li><a href="/voteme/about">О проекте</a></li>
					<li><a href="/voteme/contact">Контакты</a></li>
					<li><a href="/voteme/help">Помощь</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
 	<div class="row-fluid">
		
		<div id="content"></div>
		<div id="content1"></div>

		<hr>
		<footer>
			<p>© Sv-051Company 2014</p>
		</footer>
	</div>
	<!--/row-->
</div>
<!--/.container-->


<script src="../resources/js/jquery-2.1.0.min.js"></script>
<script src="../resources/js/underscore-min.js"></script>
<script src="../resources/js/bootstrap.min.js"></script>
<script src="../resources/js/backbone-min.js"></script>
<script src="../resources/js/adminpage.js"></script>

<!-- Templates -->
<script type="text/template" id="user-details">
	<div class="panel panel-default">
		<div class="panel-body">
			<a class="btn btn-primary" href="#main">Назад</a>

		</div>
	<div>
</script>


<script type="text/template" id="user-edit">

<div class="panel panel-default">
<div class="panel-body">
<form role="form" >
	<div class="row">
  		<div class="col-xs-4">
			<div class="form-group">
    			<label for="userdId">ID</label>
    			<input type="email" class="form-control" id="userdId" value="<%=userdId%>" disabled>
  			</div>
			<div class="form-group">
    			<label for="registrationDate">Дата регистрации</label>
    			<input type="text" class="form-control" id="registrationDate" id="registrationDate" 
					value="<%=registrationDate%>" disabled >
  			</div>
			<div class="form-group">
    			<label for="userLogin">Имя пользователя</label>
    			<input type="text" class="form-control" id="userLogin" id="userLogin" value="<%=userLogin%>" >
  			</div>
			<div class="form-group">
    			<label for="role">Роль</label>
    			<input type="text" class="form-control" id="role" id="role" value="<%=role.roleName%>" >
  			</div>
			<div class="form-group">
    			<label for="userStatus">Статус</label>
    			<input type="text" class="form-control" id="userStatus" id="userStatus" value="<%=userStatus.status%>" >
  			</div>
  			
			<a class="btn btn-primary" href="#main">Назад</a>
			<button type="submit" class="btn btn-success">Сохранить</button>
			
  		</div>
  		<div class="col-xs-4">
    		<div class="form-group">
    			<label for="firstName">Имя</label>
    			<input type="text" class="form-control" id="firstName" value="<%=firstName%>" >
  			</div>
			<div class="form-group">
    			<label for="lastName">Фамилия</label>
    			<input type="text" class="form-control" id="lastName" id="lastName" value="<%=lastName%>" >
  			</div>
			<div class="form-group">
    			<label for="birthYear">Год рождения</label>
    			<input type="text" class="form-control" id="birthYear" id="birthYear" value="<%=birthYear%>" >
  			</div>
			<div class="form-group">
    			<label for="sex">Пол</label>
    			<input type="text" class="form-control" id="sex" id="sex" value="<%=sex%>" >
  			</div>

			<div class="form-group">
    			<label for="email">Email</label>
    			<input type="text" class="form-control" id="email" id="email" value="<%=email%>" >
  			</div>	
  		</div>
		<div class="col-xs-4">
			<div class="form-group">
    			<label for="country">Страна</label>
    			<input type="text" class="form-control" id="country" id="country" value="<%=country.countryName%>" >
  			</div>
			<div class="form-group">
    			<label for="region">Регион</label>
    			<input type="text" class="form-control" id="region" id="region" value="<%=region.regionName%>" >
  			</div>
			<div class="form-group">
    			<label for="city">Город</label>
    			<input type="text" class="form-control" id="city" id="city" value="<%=city.cityName%>" >
  			</div>
			<div class="form-group">
    			<label for="district">Район</label>
    			<input type="text" class="form-control" id="district" id="district" value="<%=district.districtName%>" >
  			</div>
  		</div>
  	</div>
</form>
</div>
</div>




</script>

<script type="text/template" id="user-list-item">
		<td><%= userdId %></td>
		<td><%= firstName %></td>
		<td><%= lastName %></td>
		<td><%= birthYear %></td>
		<td><%= userLogin %></td>
		<td><%= email %></td>
		<td><%= registrationDate %></td>
		<td><%= role.roleName %></td>
		<td><%= userStatus.status %></td>
		<td>
				<a class="btn btn-xs btn-default" href="#details/<%= userdId %>">
					<span class="glyphicon glyphicon-eye-open"></span>
				</a>
  				<a class="btn btn-xs btn-default" href="#users/<%= userdId %>">
  					<span class="glyphicon glyphicon-pencil"></span>
  				</a>
  				<a class="btn btn-xs btn-default" href="">
  					<span class="glyphicon glyphicon-trash"></span>
  				</a>
		</td>
</script>

<script type="text/template" id="user-table">
	<table id="users" class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>ID</th>
				<th>Имя</th>
				<th>Фамилия</th>
				<th>Год рождения</th>
				<th>Логин</th>
				<th>E-mail</th>
				<th>Дата регистрации</th>
				<th>Роль</th>
				<th>Статус</th>
				<th>Действия</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		
	</table>
</script>




</body>
</html>