<!DOCTYPE HTML>
<html lang="en-US">

  <head>
    <meta charset="UTF-8">
    <title>Backbone.js pagination</title>
    <link type="text/css" rel="stylesheet"
	href="../resources/css/bootstrap.min.css" >
  </head>

  <body>

    <div class="container">

      <!--<p>&nbsp;</p>-->
      <div class="page-header">
        <h1>Paginator.requestPager() </h1>
      </div>

      <h3>"content"</h3>
      <ul id="content">
      </ul>
	<h3>"pagination"</h3>
      <div id="pagination">
      </div>

    </div>


    <!--sample template for result item-->
    <script type="text/html" id="resultItemTemplate">
      <div class="result row">
        <div class="title">
        <%= userdId %> <%= userLogin %><%= email %>
        </div>
      </div>
    </script>

    <!-- sample template for pagination UI -->
    <script type="text/html" id="tmpServerPagination">
      <div class="breadcrumb">
       <% if (currentPage > firstPage) { %>
            <a href="#" class="serverprevious">Previous</a>
          <% }else{ %>
            <span>Previous</span>
          <% }%>

	<span class="divider">/</span>

          <span class="cell">
          <% for(p=1;p<=totalPages;p++){
          %>
            <% if (currentPage == p) { %>
              <span class="page selected"><%= p %></span>
            <% } else { %>
              <a href="#" class="page"><%= p %></a>
            <% } %>
          <%
          }%>

          <span class="divider">/</span>

          <% if (currentPage < totalPages) { %>
            <a href="#" class="servernext">Next</a>
          <% } %>

   

        </div>
      </script>


    <!-- scripts-->
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>

    <script src="app.js"></script>

    <!--Backbone.Paginator-->
    <script src="../resources/lib/backbone.paginator.js"></script>

    <!--Models/Collections-->
    <script src="models/Item.js"></script>
    <script src="collections/PaginatedCollection.js"></script>

    <!--Views-->
    <script src="views/ResultView.js"></script>
    <script src="views/PaginationView.js"></script>
    <script src="views/AppView.js"></script>

  </body>
</html>
